{% extends 'layout.html' %}
{% block content %}
	<h4 class="pt2">Register New ThinClient</h4>
	<div class="border-top pt-2 mb-2"></div>
	<p>Master Public Key<br>
	<small>Copy the below public key to the remote thinclient machine,which you want to register.<br><code>Example : Location will be <mark>/root/.ssh/authorized_keys</mark>,authorized_keys file contents the public key content.</code></small>
	<div class="alert alert-dark bs-callout" role="alert">
		<pre>{{publickey_content}}</pre>
	</div>
	<p>SSH-Copy-Id Public Key to Remote ThinClient<br>
	<small>Make sure <mark>sshd daemon</mark> is running on the remote machine.</small></p>
	<form method="POST" action="">
		{{form.hidden_tag()}}
		
		<div class="input-group mb-3">
			{{form.username(class="form-control",placeholder="username@ip-address")}}
  			<div class="input-group-append">
  				{{form.submit(class="btn btn-outline-secondary")}}
    			
  				
  			</div>
		</div>
	</form>
{% endblock content %}