{% extends 'layout.html' %}
{% block content %}
	<h4 class="pt2">Register New ThinClient</h4>
	<div class="border-top pt-2 mb-1"></div>
	<p>Master Public Key<br>
	
	<div class="alert alert-dark bs-callout" role="alert">
		<pre>{{publickey_content}}</pre>
	</div>
	<small>Make sure <mark>sshd daemon</mark> is running on the remote TC machine.<br>Copy the above public key to the remote thinclient machine, 	which you want to register.<br><code>Example : Location will be <mark>/root/.ssh/authorized_keys</mark>,authorized_keys file contents the public key content.</code></small>
	<form method='POST' action="" class="pt-3">
		{{form.hidden_tag()}}

		<div class="form-group">
			<label>Remote ThinClient Username</label>
			{% if form.tc_username.errors %}
				{{ form.tc_username(class="form-control is-invalid form-control-sm")}}
				<div class="invalid-feedback">
					{% for error in form.tc_username.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}	
				{{ form.tc_username(class="form-control form-control-sm")}}
			{% endif %}
		</div>
		<div class="form-group">
			<label>Remote ThinClient IP Address</label>
			{% if form.remote_host_ip.errors %}
				{{ form.remote_host_ip(class="form-control is-invalid form-control-sm")}}
				<div class="invalid-feedback">
					{% for error in form.remote_host_ip.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.remote_host_ip(class="form-control form-control-sm")}}
			{% endif %}	
		</div>
		<div class="form-group">
			{{form.submit(class="btn btn-sm btn-primary")}}
			<a class="btn btn-warning btn-sm" href="{{url_for('register_tc')}}">Cancel</a>
		</div>
	</form>
{% endblock content %}