{% extends 'layout.html' %}
{% block content %}
	<h4 class="pt2">View Details</h4>
	<div class="border-top pt-2 mb-2"></div>
	<div class="my-3 p-3 bg-light border rounded">
		<h6 class="border-bottom border-gray pb-2 mb-0">Image Name : {{img.new_img_name}}</h6>
		<div class="media text-muted pt-3">
			<rect width="100%" height="100%" fill="#007bff"/>
			<text fill="#007bff">Build Id : {{img.imggenid}}</text>
			<p class="media-body pb-3 mb-0 small lh-125 ">
				<strong class="" lass="d-block text-gray-dark">Build by {{img.newimage_author.username}} | Dated : {{ img.date_posted.strftime('%d-%m-%Y')}} | Time : {{img.date_posted.strftime('%H:%M %p')}}</strong>
			</p>
			<p class="media-body pb-3 mb-0 small lh-125">{{img.description | safe}}</p>
		</div>
		<div class="border-top pt-2 mb-2"></div>
			<small> <i class="fas fa-cloud-download-alt"></i> Download all the image contents from <a href="{img.final_img_url}}">"Here"</a><br>
				<i class="fas fa-check-circle"></i> Md5sum of {{img.new_img_name}}.gz is <mark>{{gz_md5sum}}</mark>
			</small>
	</div>
{% endblock content %}